body {
  background-color: whitesmoke;
  font-family: 'Encode Sans Expanded', sans-serif;
  margin: auto;
  width: 850px;
}

h1 {
  font-weight: 300;
}

.contenedor {
  background: white;
  border: 1px gray solid;
  box-shadow: 5px 5px 10px rgba(100,100,100,.5);
  margin: 2em 0;
  padding: 1em;
}

.contenedor > .cajas {
  background: linear-gradient(rgb(200,0,0), rgb(150,0,0));
  border: 3px rgb(100,0,0) solid;
  border-radius: 10px;
  color: white;
  cursor: move;
  margin-bottom: 1em;
  padding: 2em 1em;
}

.contenedor > .cajas .token {
  color: rgb(200,150,150);
}

.contenedor .over {
  border-style: dashed;
  border-width: 10px;
}

.contenedor > .cajas:last-child {
  margin-bottom: 0;
}

h2 {
  font-size: 22px;
  font-weight: 300;
  margin: 0;
  padding: 0;
}


[draggable] {
  cursor: move;
  user-select: none;
}

.boton {
  background: linear-gradient(rgb(100,100,200), rgb(15,15,225));
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  font-size: 18px;
  font-weight: 300;
  padding: 1em 1.5em;
}

.boton:hover {
  background: linear-gradient(rgb(100,100,200), rgb(15,15,150));
}

.boton:disabled {
  background: linear-gradient(rgb(100,100,100), rgb(120,120,120));
  color: rgb(200,200,200);
  cursor: not-allowed;
}
